
.menu-item .li{
    list-style: none;
}
.menu-item .a{
    text-decoration: none;
}

.blogmain{
    width: 100%;
    height: 400px;
    background: url("images/blog\ thời\ trang\ cho\ bé.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-top: 20px;
    
}
.blogmain::before{
    position: absolute;
    width: 100%;
    height: 400px;
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 40px;
    
}

.blogmain-text {
    position: absolute;
    text-align: center;
    color: #fff;
    padding-top: -50px;
    margin-top: -50px;
    filter: brightness(1.5);
   
}

.btl_blog a{
    background-color: #7995a3;
    border-radius: 16px;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    width: 100px;
    padding: 5px;  
    margin: 10px;
    font-weight: 600;
}
.btl_blog a:hover{
    font-size: 19px;
}
.blogmain-text h1{
   margin: 50px 50px 40px 50px;
   color: #fff;
   filter: brightness(1.5); 

}

.blogmain-text h5{
    padding: 0px 20px;
    color: #fff;
    filter: brightness(1.5);
    font-size: 18px;
   
}
.card {
    transition: all 0.3s;
    border-radius: 20px;
    height: auto;
}

.card img{
    border-radius: 20px;
}

.card:hover{
    transform: scale(1.05);
}
.card-body button{
    border-radius: 10px;
    border: 0.75px solid #8295A1;
    height: 30px;
    border-radius: 10px;
    background-color: white;

}
.card-body button:hover{
    border-radius: 10px;
    border: 0.75px solid  #8295A1;
    font-size: 16px;
}
.card-body a{
    display: block;
    color: #8295A1;
    font-size: 18px;
    transition: transform 0.9s ease;
    font-weight: bold;
}
.card-body  .card-link a:hover{
        color: rgb(28, 120, 120);
        transform: translate(1px, 1px);
}
.card-body p{
    font-size: 16px;
    color: rgb(99, 89, 89);
    font-weight:bold;

}

.wrapper-slide-blog{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 240px;
}
.slider-blog{
    height: 300px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 86%;
}
.slider-blog .slide-blog{
    height: 250px;
    width: 250px;
}
.slider-blog .slide-blog img{
    width: 90%;
    height: 170px;
    border-radius: 15px;
    transition: all 0.2s;
    
}
.slider-blog .slide-blog img:hover{
    transform: scale(1.08); /*phong to 105%*/
    border-radius: 10px;
    border-radius: 15px; 
}


@-webkit-keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-1500px));
    }
}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-1500px));
    }

}
.slider-blog .slide-block-track {
    -webkit-animation: scroll 100s linear infinite;
    animation: scroll 100s linear infinite;
    display: flex;
    width: calc(250px * 14);
}



     * {
  font-family: quicksand;
}
/*header*/
.san-pham{
    font-size: 1.2rem;
    color: black;
    justify-content: space-between;
  
    text-decoration: none;
  }
  .san-pham:hover{
    color: white;
  }
header{
  background-image: url('images/bannerchuyenmuc.png');
  background-size: cover;
  background-position: center;
  height: 50vw;
  max-width:  100%;
  position: relative;
}
.mymainmenu{
  background-color:#BED2E0;
  position: fixed;
  z-index: 9999;
  width: 100%;
}
.navbar-nav{
  font-size: 1.2rem;
  color: #646464;
  justify-content: space-between;
  font-weight: bold;
}
.nav-link:hover{
  color: white;
}

/* CSS để dàn trang các mục */
.nav-item {
margin: 0 10px;
display: flex;
align-items: center;
}

/* Ẩn biểu tượng trái tim ban đầu */
.active-img {
display: none;
}

/* Hiển thị biểu tượng trái tim khi hover */
.nav-item:hover .active-img {
display: inline-block;
margin-left: 0px; /* Khoảng cách giữa chữ và biểu tượng trái tim */
}
/* Đảm bảo chữ và biểu tượng trái tim trên cùng 1 hàng */
.nav-link {
display: flex;
align-items: center;
}

/* Đảm bảo khoảng cách giữa chữ và biểu tượng trái tim */
.text {
margin-right: 5px; /* Khoảng cách giữa chữ và biểu tượng trái tim */
}
/*FOOTER*/
.myfooter .col-md-2 h3,
.myfooter .col-md-3 h3,
.myfooter .col-md-2 h3{
color:#8295A1;
font-size: 22px;
font-style: normal;
font-weight: bolder;
}
.myfooter .col-md-3 li a,
.myfooter .col-md-2 li a,
.myfooter .col-md-3 li a{
text-decoration: none;  
}

.myfooter .col-md-3 li,
.myfooter .col-md-2 li,
.myfooter .col-md-3 li{

padding-top: 19px;
}
.myfooter .col-md-3 a,
.myfooter .col-md-2 a,
.myfooter .col-md-3 a{
display: block;
color: #5A5252;
font-size: 16px;
transition: transform 0.3s ease;
}
.myfooter .col-md-3 a:hover,
.myfooter .col-md-2 a:hover,
.myfooter .col-md-3 a:hover{
color: #8295A1;
transform: translate(3px, -3px);
}
.myfooter .col-md-3 ul,
.myfooter .col-md-2 ul,
.myfooter .col-md-3 ul{
list-style-type:none;

}
.myfooter .col-md-2 ul,
.myfooter .col-md-3 ul{
padding-left: 0;
}
.myfooter .col-md-5 h3{
color: #8295A1;
font-size: 22px;
font-weight: bolder;
}
.myfooter .col-md-5 a{
color: #5A5252;
text-decoration: none;
}
.myfooter .icons1 a:hover{
color: #8295A1;
font-weight: bolder;
font-size: 16px;
text-decoration: underline;
}
.icons2{
text-align:left;
}
.icons2 a{
display: inline-block;
font-size: 24px;
margin-right: 20px;
transition: transform 0.3s ease;
}
.icons2 a:hover{
transform: translate(3px, -3px);
}

.myfooter .col-md-5{
background-color:#F2F2F2; 
height:300px;
}
.myfooter .col-md-5 h3,
.myfooter .col-md-5 a{
padding-left: 20px;
}
.myfooter .col-md-5 h3{
padding-top: 20px;
font-weight: 600;
}

.myfooter .row p{
color: #5A5252;
font-size: 16px;
padding-top: -30px;
}
/*lien he chung toi*/
.contact_us {
background: #E4F3FC;
padding: 30px 0px;
}

.contact_us .ft-sub {
width: 75%;
margin: auto;
}
.contact_us .ft-sub h3 {
font-size: 40px;
margin-bottom: 20px;
color: #7995a3;
line-height: 1.5em;
}
form {
margin-bottom: 0;
}input, button, textarea {
outline: 0px;
}
input, textarea, select {
border: 1px solid #f7f8f9;
max-width: 100%;
padding: 8px 10px;
}.footer_us .ft-sub .input-group_ {
display: flex;
align-items: center;
}
 












