.menuphu{
    display: none;
}
.menusp:hover .menuphu{
    display: block;
}
.filterProducts{
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filterProducts > div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.product-card{
    position: relative;
    overflow: hidden;
}
.love{
    position: absolute;
    bottom: 20px;
    right: 15px;
    border-radius: 100%;
    padding: 5px 9px;
    border: none;
    background-color: white;
    color: black;
    border: 1.5px solid;
}
.addcart{
    position: absolute;
    bottom: 60px;
    right: 14px;
    border-radius: 100%;
    padding: 5px 8.5px;
    border: none;
    background-color: white;
    color: black;
    border: 1.5px solid;
}

.discount{
    text-decoration: line-through;
    font-size: 14px;
}
.favourites li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
.favourites > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#close-love{
    font-size: 23px;
    background-color: white;
    border: none;
    
}

.cartList > p{
    display: flex;
    justify-content: flex-end;
}
.cartList .btn-checkout{
    display: flex;
    justify-content: flex-end;
    background-color: #7691A4;
    padding: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.cartList li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
.cartList > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

